doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    div.content
      div.feed
        center
          form.pure-form(action='/addLink' method='post')
            input(type='url' name='addLink' placeholder='Share this!' autofocus=true required=true style='width: 400px')
            input.pure-button.button-primary(type='submit' value='Submit')

      each item in json
        - var user = item.first_name + ' ' + item.last_name
        div.linkcontainer
          div.leftsidehome
            center
              h3
                a(href='/pages/'+item.id) #{user}
              h2= item.title
              a(href=item.url)
                div(style='height: 200px; width: 400px; background-image: url(#{item.image}); background-size: cover; background-position: center')
              p=item.descrip
              div(id="shown_first" style='display: inline')
                a(href=item.url class='archive' id='archive'+item.id style='cursor: pointer' onclick='toggle_text("shown_first", "hidden_first")').
                  Save content!
              div(id='hidden_first' style='display: none').
                  Saved!
          div.rightsidehome
            div.reactScript(id=item.id)
    script(type='application/javascript' src='/js/newsfeed.js')
