doctype html
html(lang="en")
  head
    include base_head
    script(src='../js/archiveTimeline.js')
  body
    include banner
    div.content
      div.feed
        form.pure-form(action='/addFollower' method='post')
          input(type='text' name='addFollower' placeholder='AddFollower Here' autofocus=true required=true)
          input(type='submit' value='Submit')
        form(action='/removeFollower' method='post')
          input(type='text' name='removeFollower' placeholder='RemoveFollower Here' autofocus=true required=true)
          input(type='submit' value='Submit')
        form(action='/addLink' method='post')
          input(type='url' name='addLink' placeholder='AddLink Here' autofocus=true required=true)
          input(type='submit' value='Submit')
        each item in json 
          div(class=item.url)
            p=item.url     
            img(src=item.image, height='400', width='400')
            p=item.descrip
            a(href='#', class='archive', id='archive'+item.id) Save This Article!
            div(id=item.id)
              script(id='myScript', type='text/jsx', src='../js/comments.js')
    include scripts
    