doctype html
html(lang="en")
  head
    include page_head
  body
    include banner
    div.content
      div#prof-behind
        div#prof-pic(style='background-image: url(#{image})')
          if editable
            div.fileUpload
              div
                span.fui-photo
                span Edit profile photo
              form#prof-upload(enctype='multipart/form-data' action='/upload/image/#{user.user_id}' method='post')
                input.upload(type='file' name='filefield' onchange='change_async()')
      div.panel
        div.left_panel
          h1 #{name.first_name} #{name.last_name}
          h3 Princeton University
          h4 Member since 10/5/92
        div.right_panel
          a(href='/followees/#{user.user_id}') Followees
          a(href='/followers/#{user.user_id}') Followers
      each item in json
        div.linkcontainer
          div.leftsidehome
            center
              h2 PUT TITLE HERE
              a(href=item.url)
                img(src=item.image, height='200', width='400')
              p=item.descrip

          div.rightsidehome
            div(id=item.id)
              script(id='myScript', type='text/jsx', src='../js/comments.js')
        div.spaceinbetween
      if editable
        p editable
    include page_scripts
