doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    div.content
      div#prof-behind
        div#prof-pic(style='background-image: url(#{image})')
          if editable
            div.fileUpload
              div
                span.fui-photo
                span Edit profile photo
              form#prof-upload(enctype='multipart/form-data' action='/upload/image/#{user.user_id}' method='post')
                input.upload(type='file' name='filefield' onchange='change_async()')
      div.panel
        div.left_panel
          h1 #{name.first_name} #{name.last_name}
          h3 Princeton University
        div.right_panel
          if !editable
            if followed
              button#follow.pure-button.button-disabled(disabled=true) Follow
            else
              button#follow.pure-button.button-primary(href='/addFollower/#{user_id}') Follow
          button#followees.pure-button.button-primary(href='/followees/#{user_id}') Followees
          button#followers.pure-button.button-primary(href='/followers/#{user_id}') Followers
      each item in json
        div.linkcontainer
          div.leftsidehome
            center
              h2= item.title
              a(href=item.url)
                div(style='height: 200px; width: 400px; background-image: url(#{item.image}); background-size: cover; background-position: center')
              p=item.descrip
          div.rightsidehome
            div.reactScript(id=item.id)
    script(type='application/javascript' src='/js/pages.js')
